<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.review.mapper.ReviewMapper">


    <!-- 리뷰 저장하는 SQL 쿼리 -->
    <insert id="savereview" parameterType="com.kosmo.review.dto.ReviewDTO">
        INSERT INTO reviews (course_id, review_text, course_rating, instructor_rating, user_id, created_at)
        VALUES (#{courseId}, #{reviewText}, #{rating}, #{instructorRating}, #{userId}, NOW())
    </insert>


    <!-- 강의 정보 조회 쿼리: 강의 제목, 설명, 강사명 -->
    <select id="getCourseInfo" resultType="com.kosmo.review.dto.ReviewInfoDTO">
        SELECT c.course_id AS courseId,         <!-- course_id를 courseId로 매핑 -->
        c.title AS title,
        c.description AS description,
        c.summary AS summary,
        u.nickname AS nickname
        FROM courses c
        JOIN users u ON c.user_id = u.id  <!-- 'user_id'로 'users' 테이블과 조인 -->
        WHERE c.course_id = #{courseId}
    </select>

    <!-- 리뷰 존재 여부 체크 -->
    <select id="checkReviewExist" resultType="int">
        SELECT COUNT(*) FROM reviews
        WHERE user_id = #{userId} AND course_id = #{courseId}
    </select>

</mapper>
